upstream @backend {
{% for item in groups.backend_servers %}
        server {{ hostvars[item].ansible_host }}:80 max_fails=1;
{% endfor %}
}


  upstream site {
  {%- for addrs in salt['mine.get']('rpm-hosts', 'network.ip_addrs', tgt_type='nodegroup').values() %}
    server {{ addrs[0] }};
  {%- endfor %}
  }

  {% for addr in salt['grains.item']('fqdn_ip4') %}
   server {{ addr }}
{% endfor %}